@import url("/usr/share/themes/<THEME-NAME>/gnome-shell/gnome-shell.css");

stage {
    font-size: 11.5pt;
}

#panel .panel-button{
	font-weight: normal;
}
.calendar-day-base {
	font-size: 11pt;
}

.calendar-day-base.calendar-day-heading {
	font-size: 11pt;
}

.modal-dialog-linked-button {
	font-size: 11.5pt;
}
